* {
    margin: 0; 
    padding: 0;
}

section.games {
    margin: 30px auto 0px;
    padding: 5px 0; 
    
}
    section.games h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    /* GAMES */

.container {
    margin: 50px auto 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
        
}
    .container .box {
        position: relative;
        margin: 10px;
        box-sizing: border-box;
        border: solid;
        display: inline-block;
    
    }
    .container .box .imgbox {
        position: relative;
        overflow: hidden;
    
    }
    .container .box .imgbox img {
        
        width: 250px;
        height: 350px;
        max-width: 100%;
        transition: transform 2s;   
    }
    .container .box:hover .imgbox img {
        transform: scale(1.2);
    }
    .container .box .details {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: rgba(53, 52, 52, 0.8);
        transform: scaleY(0);
        transition: transform .5s;
    }
    .container .box:hover .details{
        transform: scaleY(1);
    
    }
    .container .box .details .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 15px;
        color: white;
    }
    .container .box .details .content h2 {
        margin: 0;  
        padding: 0;
        font-size: 20px;
        background: -webkit-linear-gradient(#01b7ff, #2480d6);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    section.extra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 800px;
        background-position: top center;
        background-repeat: no-repeat;
        
    }



    .extra-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding: 50px;
        margin: 30px;
        border: 1px black solid;
    }
    .xx {

        margin: 100px;
    }
    /* .extra-info {
        position: absolute;

        left: 20%;
        transform: translate(-50%,-50%);
    } */
    .extra-info h1 {
        /* border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        color: red;
        border-bottom-style: dotted;
        border-right-style: dotted;
        border-right-color: red;
        border-bottom-color: red;    
        border-top-style: dotted;
        border-left-style: dotted;
        margin: 50; */
        margin: 40px;
        padding: 20px;
        font-size: 70px;
        font-weight: bold;
        }
    .extra-info h1 span {
        color: rgb(0, 0, 0);
    }
    .extra-info p {
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
        margin: 50px;
    }

    section.threed-model {
        margin: 100px;
    }

    canvas {
        width: 50%;
        height: 100vh;
      }
    /* BUTTON */

.button {
    width: 100%;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 12px 25px;
    margin-top: 20px;
    background: transparent;
    cursor: pointer;
   
}
    a.button{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    .button:hover {
        border: 1px solid red;
        transition: 0.5s;
        background: red;
        color: white;
    
    }
footer {
    background: rgb(224, 224, 224);
}
 .icons {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.footer-icon {
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
}
@media screen and (max-width: 520px) {
    .footer-icon {
        padding: 0;
    }
}
@media screen and (max-width: 256px) {
    .icons {
        display: block;
    }
    
}

   